<main>
  <section class="search">
    <form class="">
      <input
        class=""
        name="search"
        placeholder="P. ej. Sex on the beach"
        type="text"
      />
      <input class="" type="submit" value="Buscar" />
      <input class="" type="reset" value="Reset" />
    </form>
  </section>

  <section class="favorites">
    <h2 class="">Cócteles favoritos</h2>
    <ul class=""></ul>
  </section>

  <section class="results">
    <h2 class="">Lista</h2>
    <ul class=""></ul>
  </section>
</main>
