<main>
  <section class="search">
    <form class="">
      <input
        class="search js-search"
        name="search"
        placeholder="P. ej. Sex on the Beach"
        type="text"
      />
      <input class="js-submitBtn" type="submit" value="Buscar" />
      <input class="js-resetBtn" type="reset" value="Reset" />
    </form>
  </section>

  <section class="favorites">
    <h2 class="">Cócteles favoritos</h2>
    <ul class="favoritesList js-favoritesList"></ul>
  </section>

  <section class="list">
    <h2 class="">Lista</h2>
    <ul class="cocktailList js-cocktailList"></ul>
  </section>
</main>
